<!DOCTYPE html>
<html>
<head>
	<title>Misty Mountain Radio</title>
	<meta name="viewport" content="width=590">
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style2.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
							<li class="navitem"><a href="/">Home</a></li>
							<li class="navitem"><a href="/faves">{{user.username}}'s Faves</a></li>
              <li class="navitem"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li class="navitem"><a href="/users/login">Login</a></li>
              <li class="navitem"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>

      </div>
		<script src="/js/js.js"></script>
</body>
</html>
