
  <h3 class="myname">{{user.username}}'s faves:</h3>
    {{#if faves}}
    <select class="faveDrop">
          <option>Scroll through</option>
          {{#each faves}}
            <option class="optz" value={{this.url}}>{{this.artist}} | {{this.title}} | {{this.album}}</option>
          {{/each}}
    </select>
    {{/if}}
  <div class="nowStreaming">
  </div>
<audio id="faveAudio" controls autoplay="autoplay">
  <source src=""></source>
</audio>
